html
head
  title Hubot Frontend  
  each stylesheet in stylesheets
    link(href='/static/#{stylesheet}', rel='stylesheet')
body(ng-app='mirror')
  page
   .box.top.left
      each item in config.layout.topLeft
        #{item} Loading..
    .box.top.center
      each item in config.layout.topCenter
        #{item} Loading..
    .box.top.right
      each item in config.layout.topRight
        #{item} Loading..
    .box.bottom.left
      each item in config.layout.bottomLeft
        #{item} Loading..
    .box.bottom.center
      each item in config.layout.bottomCenter
        #{item} Loading..
    .box.bottom.right
      each item in config.layout.bottomRight
        #{item} Loading..
  script(src='/frontend/bower_components/lodash/dist/lodash.min.js')
  script(src='/frontend/bower_components/moment/moment.js')
  // Angular
  script(src='/frontend/bower_components/angular/angular.js')
  //script(src='/frontend/bower_components/angular-resource/angular-resource.js')
  // App
  script(src='/frontend/config.js')
  //script(src='/static/frontend/js/frontend.js')
  script(src='/frontend/bundle.js')    
      //each script in scripts
    //script(src='/static/#{script}')
