doctype html
html(lang="en")
  head
    title Jiffy
    link(href='https://fonts.googleapis.com/css?family=Dosis:400,200,700', rel='stylesheet', type='text/css')
    link(href='bower_components/angular-material/angular-material.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
  body(ng-app='jiffy', ng-cloak)
    md-content(ng-controller='Gifs')
      md-toolbar
        div.md-toolbar-tools
          h1 jiffy
      md-card
        md-card-title
          md-card-title-text
            span.md-headline add gif
        md-card-content
          div()
            form
              md-input-container.md-block(flex-gt-sm)
                label gif url
                input(type='url', name='url', ng-model="gif.url")
              md-chips(ng-model="gif.tags",
              placeholder="Enter a tag"
              delete-button-label="Remove Tag"
              delete-hint="Press delete to remove tag"
              secondary-placeholder="+Tag")
              md-button.md-raised.md-primary(ng-click="submit(gif)") add
      div(layout="row")
        md-card(ng-repeat="gif in gifs", flex="20")
          img(ng-src="{{gif.url}}")
          // TODO For editting
          md-chips(ng-model="gif.tags",
          readonly="true"
          placeholder="Enter a tag"
          delete-button-label="Remove Tag"
          delete-hint="Press delete to remove tag"
          secondary-placeholder="+Tag")

    // Angular
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-animate/angular-animate.min.js')
    script(src='bower_components/angular-aria/angular-aria.min.js')
    script(src='bower_components/angular-messages/angular-messages.min.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-material/angular-material.js')
    script(src='bower_components/ng-tags-input/ng-tags-input.js')

    // App
    script(src='js/app.js')
    script(src='js/config.js')
    script(src='js/jiffy.service.js')
