html
head
  link(href='https://fonts.googleapis.com/css?family=Dosis:400,200,700', rel='stylesheet', type='text/css')
  link(href='bower_components/angular-material/angular-material.css', rel='stylesheet')
  link(href='bower_components/weather-icons/css/weather-icons.css', rel='stylesheet')
  link(href='css/mirror.css', rel='stylesheet')
  each stylesheet in stylesheets
    link(href='#{stylesheet}', rel='stylesheet')
body(ng-app='mirror')
  page
    .box.top.left
      each item in config.LAYOUT.topLeft
        #{item} Loading..
    .box.top.center
      each item in config.LAYOUT.topCenter
        #{item} Loading..
    .box.top.right
      each item in config.LAYOUT.topRight
        #{item} Loading..
    .box.bottom.left
      each item in config.LAYOUT.bottomLeft
        #{item} Loading..
    .box.bottom.center
      each item in config.LAYOUT.bottomCenter
        #{item} Loading..
    .box.bottom.right
      each item in config.LAYOUT.bottomRight
        #{item} Loading..
  script(src='bower_components/lodash/dist/lodash.min.js')
  script(src='bower_components/moment/moment.js')
  // Angular
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-resource/angular-resource.js')
  // App
  script(src='config.js')
  script(src='js/mirror.js')
//  each script in scripts
//    script(src='#{script}')
