div.recipe
  md-card(flex="100",layout="column")
    // Start greater than XS only
    div(layout="row",hide-xs)
      div.name-container(flex="50",layout-align-gt-xs="center center")
        div
          div(flex="100")
            span.name {{ recipe.name }}
          div(flex="100")
            span.description(flex="100") {{ recipe.description }}
          div(flex="100")
            span.cals-cost(flex="100") {{ recipe.calories / recipe.servings | number: 0 }} cals | $ {{ recipe.cost / recipe.servings | number: 2 }} per serving
      div.img-container(flex-gt-xs="50")
        img(ng-src="https://i.imgur.com/{{recipe.imgurImages[0]}}.jpg")
    // End greater than XS only
    // Start XS only
    md-card-header(hide-gt-xs)
      md-card-header-text
        span.md-title {{ recipe.name }}
        span.md-subhead {{ recipe.description }}
    img(ng-src="https://i.imgur.com/{{recipe.imgurImages[0]}}.jpg",hide-gt-xs)
    // End XS Only
    div.stats(flex="100",layout="row",layout-align="center center")
      div(flex-gt-xs="15",flex="33")
        span(flex="100").stat {{ recipe.servings }}
        span(flex="100").text servings
      div(flex-gt-xs="15",flex="33",hide-gt-xs)
        span(flex="100").stat {{ recipe.calories / recipe.servings | number: 0 }} cals
        span(flex="100").text per serving
      div(flex-gt-xs="15",flex="33",hide-gt-xs)
        span(flex="100").stat ${{ recipe.cost / recipe.servings | number: 2 }}
        span(flex="100").text per serving
      div(flex-gt-xs="15",flex="33",hide-xs)
        span(flex="100").stat ${{ recipe.cost | number: 2 }}
        span(flex="100").text total cost
      div(flex-gt-xs="15",flex="33",hide-xs)
        span(flex="100").stat {{ recipe.prepTime }}m
        span(flex="100").text prep time
      div(flex-gt-xs="15",flex="33",hide-xs)
        span(flex="100").stat {{ recipe.cookTime }}m
        span(flex="100").text cook time
      div(flex-gt-xs="15",flex="33",hide-xs)
        span(flex="100").stat {{ recipe.readyTime }}m
        span(flex="100").text ready time
    div.stats(flex="100",layout="row",layout-align="center center",hide-gt-xs)
      div(flex="33")
        span(flex="100").stat {{ recipe.prepTime }}m
        span(flex="100").text prep time
      div(flex="33")
        span(flex="100").stat {{ recipe.cookTime }}m
        span(flex="100").text cook time
      div(flex="33")
        span(flex="100").stat {{ recipe.readyTime }}m
        span(flex="100").text ready time
    md-card-content(layout="column", layout-gt-xs="row")
      div.ingredients(flex="100", flex-gt-xs="50")
        h2 Ingredients
        md-list-item.md-3-line(ng-repeat="ingredient in recipe.ingredients", ng-class="{divider: !$last}")
          div.md-list-item-text.max-width-100
            h3.allow-wrap(layout="row",flex="100")
              span.ingredient-name.bold {{ ingredient | amount }} {{ ingredient.food.name }}
            p {{ ingredient.food.calories | number: 0 }} cals, ${{ ingredient.food.cost | number: 2 }} / serving
            p
              a(ng-if="ingredient.food.targetPrice !== undefined",ng-href="{{ingredient.food.targetUrl}}", target="_blank") Target - ${{ ingredient.food.targetPrice }}
              a(ng-if="ingredient.food.costcoPrice !== undefined",ng-href="{{ingredient.food.costcoUrl}}", target="_blank") Costco - ${{ ingredient.food.costcoUrl }}
              a(ng-if="ingredient.food.amazonPrice !== undefined",ng-href="{{ingredient.food.amazonUrl}}", target="_blank") Amazon - ${{ ingredient.food.amazonPrice }}
      div.instructions(flex="100", flex-gt-xs="50")
        h2 Instructions
        div.row(ng-repeat="instruction in recipe.instructions", ng-class-odd="'odd'")
          p.instruction-content
            span.ingredient-index {{ $index + 1 }}.
            span {{ instruction }}
